<!-- company -->
<!-- 
tidy -xml -i -utf8 -w 300 
-->
<!-- navigator -->
<div class="row">
  <div class="col-md-6">
  <b> Company </b> <span class="fa fa-caret-right"></span> {{company.company}} 
  </div>
  <div class="col-md-6">
  <div style="float:right">
    <button class="btn btn-default" ng-click="save()" ng-disabled="form.$invalid">
    <span class="fa fa-save"></span> Save</button>
    
        <button class="btn btn-default" ng-click="refresh()">
    <span class="fa fa-refresh"></span> Refresh</button>
    <a type="button" class="btn btn-default" href="#/company.list">
    <span class="glyphicon glyphicon-list"></span> List</a>
  </div>
  </div>
</div>
<br />

<!-- form -->
<form class="form-horizontal" role="form" name="form">
  <tabset>
    <tab heading="General">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_company">CompanyCode:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="company" id="id_company" ng-model="company.company" required="" ui-validate=" '$value.length&lt;5'" />
              <span ng-show='form.company.$error.validator'>CompanyCode required</span>
              <!-- [varchar] -->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_texths">Company:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="texths" id="id_texths" ng-model="company.texths" required="" ui-validate=" '$value.length&gt;0'" />
              <span ng-show='form.texths.$error.validator'>Text required</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_currencycode">Currencycode:</label>
            <div class="col-md-9">
              <!-- input type="text" class="form-control" id="id_currencycode" ng-model="company.currencycode" /-->
              <select style="width:200px" id="id_currencycode" ui-select2="select2Options" ng-model="company.currencycode">
                <option value=""></option>
                <option ng-repeat="item in currencycode" value="{{item}}">{{item}}</option>
              </select>
              <!-- [varchar] -->
            </div>
          </div>
          <!--div class="form-group">
            <label class="col-md-3 control-label" for="id_codesystemtype">Codesystemtype:</label>
            <div class="col-md-9">
 
              <select style="width:200px" id="id_codesystemtype" ui-select2="select2Options" ng-model="company.codesystemtype">
                <option value=""></option>
                <option ng-repeat="item in currencycode" value="{{item}}">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_formattype">Formattype:</label>
            <div class="col-md-9">
            
              <select style="width:200px" id="id_formattype" ui-select2="select2Options" ng-model="company.formattype">
                <option value=""></option>
                <option ng-repeat="item in currencycode" value="{{item}}">{{item}}</option>
              </select>
            </div>
          </div-->
          <!--div class="form-group">
            <label class="col-md-3 control-label" for="id_domainmanagerid">Domainmanagerid:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_domainmanagerid" ng-model="company.domainmanagerid" />
            </div>
          </div-->
          <!--div class="form-group">
            <label class="col-md-3 control-label" for="id_objectclass">Objectclass:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_objectclass" ng-model="company.objectclass" />
              
            </div>
          </div-->
   
        </div>
      </div>
      <!-- -->
    </tab>
    <!--tab heading="Tab2"></tab>
    <tab heading="Tab3"></tab>
    <tab heading="Tab4"></tab-->
 
    <tab heading="System">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_id">ID:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_id" ng-model="company.id" readonly="readonly" />
              <!-- [uuid] -->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_seq">Sequence:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_seq" ng-model="company.seq" readonly="readonly" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_modifiedon">Modified on:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_modifiedon" ng-model="company.modifiedon" readonly="readonly" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_modifiedby">Modified by:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_modifiedby" ng-model="company.modifiedby" readonly="readonly" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_createdon">Createdon on:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_createdon" ng-model="company.createdon" readonly="readonly" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_createdby">Created by:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_createdby" ng-model="company.createdby" readonly="readonly" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="id_rowversion">Row Version:</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="id_rowversion" ng-model="company.rowversion" readonly="readonly" />
            </div>
          </div>
        </div>
      </div>
    </tab>
    
       <tab heading="Debug">
    
    
<div>
<strong>URL: {{url}}</strong></div>
  
<div>
<strong>Params:</strong></div>

<pre>

{{params}}

</pre>

<div>
<strong>HTTP Status: {{status}}</strong>
</div>
 
<div>
<strong>
Response Body
</strong>
</div>

<pre>
{{data}}

</pre>
</div>

    
    </tab>
    
  </tabset>
</form>
