<!DOCTYPE html>
<!-- -->
<html lang="en" ng-app="maboss">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MABOSS</title>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" />
    <link href="/libs/fa/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/libs/select2-3.4.6/select2.css" rel="stylesheet" />
    
    <link href="/libs/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <!-- components -->
    <link href="/components/vis/dist/vis.css" rel="stylesheet" type="text/css" />
    <!-- messenger -->
    <link href="/libs/messenger/css/messenger.css" rel="stylesheet" />
    <link href="/libs/messenger/css/messenger-theme-air.css" rel="stylesheet" />
    <link href="/libs/messenger/css/messenger-theme-future.css" rel="stylesheet" />
    <!-- app  -->
    <link rel="stylesheet" href="/css/maboss.css" />    
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>

    <header class="navbar navbar-inverse" role="navigation">
    
      <div class="container-fluid expanded-panel">
        <div class="row">
          <div id="logo" class="col-xs-12 col-sm-2">
            <a href="index.html">MABOSS</a>
          </div>
          <div id="top-panel" class="col-xs-12 col-sm-10">
            <div class="row"></div>
          </div>
        </div>
      </div>
    </header>
    
    <div id="main" class="container-fluid">
      
      <div class="row">
        <!-- Start Sidebar --> 
        <!-- End Sidebar -->
        <!--Start Content-->
        <div id="content" class="col-xs-12 col-sm-10">

          <div ng-view=""></div>
        </div>
        <!--End Content-->
      </div>
     
      
    </div>
    <!-- scripts -->
    <script src="/libs/jquery-2.1.0.min.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- vis -->
    <script src="/components/vis/dist/vis.min.js"></script>
    
    <!-- messenger -->
    <script src="/libs/messenger/js/messenger.min.js"></script>
    <script src="/libs/messenger/js/messenger-theme-flat.js"></script>
    <script src="/libs/messenger/js/messenger-theme-future.js"></script>
    <!-- datatables -->     
    <script src="/libs/datatables/js/jquery.dataTables.js"></script>
    <script src="/libs/datatables/js/TableTools.js"></script>
    <script src="/libs/datatables/js/dataTables.bootstrap.js"></script>    
    <!-- angular -->
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="/libs/angular/angular-route.js"></script>
    <script src="/libs/select2-3.4.6/select2.min.js"></script>
    <script src="/libs/angular-ui/select2.js"></script>
    <script src="/libs/angular-ui/ui-utils/validate.js"></script>
    <!-- common -->
    <script src="/mabolib/utils.js"></script>
    
    <!-- form builder -->
    <script type="text/javascript" src="/libs/angular-form-builder/dist/angular-form-builder.js"></script>
    <script type="text/javascript" src="/libs/angular-form-builder/dist/angular-form-builder-components.js"></script>
    <script type="text/javascript" src="/libs/angular-validator/dist/angular-validator.js"></script>
    <script type="text/javascript" src="/libs/angular-validator/dist/angular-validator-rules.js"></script>
    
    <!-- services -->
    <script src="/mabolib/services.js"></script>
    <script src="/mabolib/services/jsonrpc.js"></script>
    <script src="/mabolib/services/dataService.js"></script>
    <script src="/mabolib/services/contextService.js"></script>
    <script src="/mabolib/services/translationService.js"></script>
    <script src="/mabolib/services/helpers.js"></script>
    <script src="/mabolib/services/centralConfig.js"></script>
 
    <!-- filters -->
    
    <!-- directives -->

    <!-- app -->
    <script src="app/app.js"></script>
    <!-- controllers -->
    <script src="app/form2.js"></script>
    <script src="app/table.js"></script>
  </body>
</html>
